# Add your MongoDB Connection String obtained from MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/<dbname>?retryWrites=true&w=majority

# The port where the server will run (Render usually provides its own, e.g., 10000)
PORT=5000

# Secret string to sign JWT tokens (can be any random string)
JWT_SECRET=super_secret_jwt_key_example

# The URL where your frontend is deployed via Vercel (Needed for CORS policy)
# Example: https://my-faculty-frontend.vercel.app
FRONTEND_URL=http://localhost:3000
